#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.main-content-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.greeting-counter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  border: 1px solid rgba(169, 169, 169, 0.3);
  border-radius: 10px;
  padding: 30px;
}

.app-button {
  font-size: 14px;
}