.current-spendings-container {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    border: 1px solid rgba(169, 169, 169, 0.3);
    border-radius: 10px;
    padding: 30px;
}

.current-spendings-header {
    font-weight: bold;
    margin-bottom: 30px;
}

.line-break-total-spendings-container {
    display: flex;
    justify-content: center;
}

.line-break-total-spendings {
    margin: 20px 0;
    width: 300px;
}