.input-expenses-container {
    display: flex;
    flex-direction: column;
    width: 450px;
    gap: 10px;
    align-items: center;
}

.inputs-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
    width: 50%;
}

.input-field-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-field {
    background: unset;
    border: 2px solid black;
    border-radius: 10px;
    color: black;
    cursor: pointer;
    width: 100px;
}

.label-field {
    font-size: 14px;
}

.input-field-container-other {
    padding-bottom: 10px;
}

.submit-cancel-expenses-button-container {
    display: flex;
    justify-content: center;
    width: 75%;
    gap: 20px;
}

.submit-button-container,
.cancel-button-container {
    width: 150px;
}

.reset-button {
    background-color: red;
    border-color: red;
}

.radio-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
}

.radio-input {
    display: none;
}

.custom-radio {
    width: 18px;
    height: 18px;
    border: 2px solid black;
    border-radius: 50%;
    position: relative;
}

.radio-input:checked+.custom-radio::after {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 8px;
    height: 8px;
    background-color: black;
    border-radius: 50%;
}

.operation-container {
    display: flex;
    flex-direction: column;
}

.operation-selection-container {
    display: flex;
    justify-content: center;
    gap: 40px;
}