.no-chart-data {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    border: 1px solid rgba(169, 169, 169, 0.3);
    border-radius: 10px;
}