<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio Home</title>
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <script charset="utf-8" type="text/javascript" src="//js-eu1.hsforms.net/forms/embed/v2.js"></script>
</head>

<body>
    <main class="expenses-app-main">
        <div class="app-container">
            <div class="main-menu-section">
                <div class="sub-menu-title">
                    <h3>
                        Hello, what would you like to do today?
                    </h3>
                </div>
                <div class="menu-options-container">
                    <ol>
                        <li>
                            <button>
                                View a month's spendings analytics.
                            </button>
                        </li>
                        <li>
                            <button>
                                Print a month's spendings datasheet.
                            </button>
                        </li>
                        <li>
                            <button>
                                View the progression spending of past months.
                            </button>
                        </li>
                        <li>
                            <button>
                                View a category's monthly progression spending.
                            </button>
                        </li>
                        <li>
                            <button>
                                Add an expense
                            </button>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="selected-option-section">
                Test
            </div>
        </div>
    </main>
</body>

</html>

<style>
    /* NOTE: don't optimize for phone right now */

    @media (min-width: 1024px) {
        .app-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }
</style>